body{
    text-align: center;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid black;
}
.grid {
    border: 1px solid black;
}

button {
    margin: 30px;
    font-size: large;
}