<!DOCTYPE html>
<html>
    <head>
        <title>Etch-A-Sketch!</title>
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <button class="reset">Reset</button>
        <div class="container" id="container"></div>
        
        <script>
            var width = 8;
            //(x,y) = (row, column)
            var row_size = 600/width + "px";
            var column_size = 600/width + "px";
            var container = document.getElementById("container");
            container.style.gridTemplateRows = `repeat(${width}, ${row_size})`;
            container.style.gridTemplateColumns = `repeat(${width}, ${column_size})`;
            
            for(let i=0; i<width; i++){
                for(let j=0; j<width; j++){
                    
                    var box = document.createElement('div');
                    box.classList.add('grid');
                    box.setAttribute('id', `box[${ i }][${ j }]`);
                    container.appendChild(box);
                }
            }

            const boxes = document.querySelectorAll(".grid");
            boxes.forEach((box) => {
                box.addEventListener('mouseover', function() {
                    box.style.backgroundColor = "black";
                });
                
                const reset_btn = document.querySelector(".reset");
                reset_btn.addEventListener('click', function() {
                    box.style.backgroundColor = 'white';

                });

            });

            

        </script>
    </body>
</html>