<!DOCTYPE html>
<html>
    <head>
        <title>Etch-A-Sketch!</title>
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <div class="container"></div>
        

        <script>
            var grid = [];
            var row = [];
            var x = 16;
            var y = 16;
            
            for(let i=0; i<x; i++){
                for(let j=0; j<y; j++){
                    const container = document.querySelector(".container");
                    const box = document.createElement('div');
                    box.classList.add('grid');
                    box.textContent = `box[${ i }][${ j }]`;
                    box.setAttribute('id', `box[${ i }][${ j }]`);
                    container.appendChild(box);
                }
                
            }
        </script>
    </body>
</html>